
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Employe Salary </h1>
    <ol class="breadcrumb justify-content-center mb-2">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active text-white">Employe Salary </li>
    </ol>
</div>
<section  class="back">
    <main class="table">
        <section class="table_header">
            <h3> Employe Salary Detail</h3>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th scope="col">#Id</th>
                        <th scope="col">Employe Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Desination</th>
                        <th scope="col">BS</th>
                        <th scope="col">DA</th>
                        <th scope="col">HRA</th>
                        <th scope="col">PF</th>
                        <th scope="col">EPF</th>
                        <th scope="col">LIC</th>
                        <th scope="col">TOTAL Deduction</th>
                        <th scope="col">G-SALARY</th>
                        <th scope="col">Advance Salary</th>
                        <th scope="col">Net Salary</th>
                        <th scope="col">In Hand Salary</th>
                        <th scope="col">Status</th>

                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let x of SalaryData">
                        <td>{{x.autoId}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.email}}</td>
                        <td>{{x.designation}}</td>
                        <td> {{x.bSalary|currency:"INR"}}</td>
                    <td> <strong>{{x.da | currency:'INR'}}</strong> </td>   
                    <td> <strong>{{x.hra| currency :'INR'}}</strong> </td>     
                    <td> <strong>{{x.pf|currency:"INR"}}</strong> </td>     
                    <td> <strong>{{x.haafPf|currency:'INR'}}</strong> </td>     
                    <td> <strong>{{x.lic|currency:'INR'}}</strong> </td>     
                    <td> <strong>{{x.totalDuction|currency:"INR"}}</strong> </td>     
                    <td> <strong>{{x.Gsalary|currency:"INR"}}</strong> </td>     
                    <td> <strong>{{x.advanceSalary|currency:"INR"}}</strong> </td>     
                    <td> <p class="btn btn-success p-1">{{x.netSalary|currency:"INR"}}</p></td>    
                    <td><strong>{{x.inHandSalary|currency:"INR"}}</strong> </td>     
                    <td><strong>{{x.status }}</strong> </td>     

                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</section>

