<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Employe Salary </h1>
    <ol class="breadcrumb justify-content-center mb-2">
        <li class="breadcrumb-item"><a href="/admin-layout/dashboard" class="text-white">Dashboard</a></li>
        <li class="breadcrumb-item active text-white">Employe Salary </li>
    </ol>
</div>
<section class="back">
    <main class="table">
        <div class="search-bar">
            <div class="modal-dialog ">
                <div class="modal-content rounded-4">
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group  mx-auto d-flex" >
                            <input type="search" class="py-2 border-2  form-control p-3" placeholder="Enter  Employe Name">
                            <!-- <input type="search" class="form-control p-3"  aria-describedby="search-icon-1"> -->
                            <span id="search-icon-1" class="input-group-text p-3"><i class="bi bi-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="table_header">
            <div class="container d-flex align-item-center; justify-content:center border-2 shadow">
                <div class="row rounded-4 shadow border-2">
                    <div class="col-md-12">
                        <h3> Employe Salary Detail</h3>
                    </div>
                </div>
            </div>
       
        </section>

        <section class="table_body">
            <table>

                <thead>
                    <tr>
                        <th scope="col">#Id</th>
                        <th scope="col">Employe Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Desination</th>
                        <th scope="col">BS</th>
                        <th scope="col">DA</th>
                        <th scope="col">HRA</th>
                        <th scope="col">PF</th>
                        <th scope="col">EPF</th>
                        <th scope="col">LIC</th>
                        <th scope="col">TOTAL Deduction</th>
                        <th scope="col">G-SALARY</th>
                        <th scope="col">Net Salary</th>
                        <th scope="col">Advance Salary</th>
                        <th scope="col">Total Salary</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Anil</td>
                        <td>Coding</td>
                        <td>Project Manager</td>
                        <td> $5000 </td>
                        <td> <strong>$500</strong> </td>
                        <td> <strong>375</strong> </td>
                        <td> <strong>$750</strong> </td>
                        <td> <strong>$375</strong> </td>
                        <td> <strong>$187.5</strong> </td>
                        <td> <strong>$562.5</strong> </td>
                        <td> <strong>$6625</strong> </td>

                        <td>
                            <p class="status success">6062.50</p>
                        </td>
                        <td>$300</td>
                        <td>$5762.5</td>
                        <td>
                            <button routerLink="/admin-layout/calculate-salary" class="btn btn-primary p-1">Calculate Salary</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </section>
    </main>
</section>