<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Employe Attendance</h1>
    <ol class="breadcrumb justify-content-center mb-2 p-1">
        <li class="breadcrumb-item"><a href="/admin-layout/dashboard" class="text-white">Dashboard</a></li>
        <li class="breadcrumb-item active text-white">Employe Attendance </li>
    </ol>
</div>
<section class="back">
    <main class="table">

        <div class="search-bar">
            <div class="modal-dialog ">
                <div class="modal-content rounded-4">
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group  mx-auto d-flex">
                            <input type="search" class="py-2 border-2  form-control p-3"
                                placeholder="Enter  Employe Name"[(ngModel)]="searchText" >
                            <!-- <input type="search" class="form-control p-3"  aria-describedby="search-icon-1"> -->
                            <span id="search-icon-1" class="input-group-text p-3"><i class="bi bi-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="table_header">
            <h3> Employe Attendance Detail</h3>
        </section>
        <section class="table_body">
            <table id="table_data">
                <thead>
                    <tr>
                        <th scope="row">#Id</th>
                        <th scope="col">Employe Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Desination</th>
                        <th scope="col">Email</th>
                        <th scope="col">Time</th>
                        <th scope="col">status</th>
                        <th scope="col">Action</th>



                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let x of Employee|filter:searchText">
                        <td>{{x.autoId}}</td>
                        <td>{{x.name|uppercase}}</td>
                        <td>{{x.department|uppercase}}</td>
                        <td>{{x.designation|uppercase}}</td>
                        <td> {{x.email}}</td>
                        <td> <strong>{{x.time}}</strong> </td>
                        <td> <strong>{{x.status|uppercase}}</strong> </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-success btn-sm p-1"
                                    [ngClass]="x?._id?.status == 'prensence	
                                    ' ? 'btn-outline-danger': 'btn-success'"

                                    (click)="  changeStatus(x?._id , 'prensence	
                                    ')" type="submit" [disabled]="x?._id?.status == 'prensence'">Presence
                                </button>
                                <button class="btn btn-warning btn-sm p-1" [ngClass]="x?._id.status == 'Absent' ? 'btn-outline-dark' :'btn-warning'" (click)="changeStatus(x?._id, 'Absent')" type="submit" [disabled]="x?._id?.status == 'Absent'">
                                    Absent
                                </button>
                                <button class="btn btn-warning btn-sm p-1" [ngClass]="x?._id.status == 'Holiday' ? 'btn-outline-danger' :'btn-danger'" (click)="changeStatus(x?._id, 'Holiday')" type="submit" [disabled]="x?._id?.status == 'Holiday'">
                                    Holiday
                                </button>
                                 <button class="btn btn-primary  p-1 " (click)="ExportToData()">Download</button>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </section>

    </main>
</section>