<!-- <section class="body">
  <div class="container-fluid box-area">
    <form class="mx-auto " [formGroup]="loginForm" (submit)="submit()">
    
      <h2 class="text-center"  style="display: inline-flexbox;">Login</h2>
      
      <div class="form-floating mb-3">
        <input type="email" class="form-control   " id="floatingInput" placeholder="name@example.com" formControlName="email">
        <label class="form-label" for="floatingInput">Email address</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control  " id="floatingInput" placeholder="name@example.com" formControlName="password">
        <label class="form-label"  for="floatingInput">Password</label>
        <div class="form-text text-dark mt-2"> <a routerLink="/employe-layout/change-password">Forget Password</a></div>

      </div>

  

      <button class="btn    btn-primary btn2 w-100 fs-6  " type="submit" >Login</button>
    </form>
  </div>
</section> -->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<section class="body">

  <div class="login-box">
    <form [formGroup]="loginForm" (submit)="submit()">
      <h2>Login</h2>
      <div class="input-box">
        <span class="icon">
          <i class="fa-solid fa-envelope"></i>
        </span>
        <input type="email" required formControlName="email">
        <label>Email</label>
      </div>
      <div class="input-box">
        <span class="icon">
          <i class="fa-solid fa-lock"></i>
        </span>
        <input type="password" required formControlName="password">
        <label>Password</label>
      </div>
      <div class="remember-forget">
        <label for=""><input type="checkbox">Remember Me </label>
        <a href="#">Forget Password?</a>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</section>