<section class="body">
  <div class="container-fluid box-area">
    <form class="mx-auto " [formGroup]="loginForm" (submit)="submit()">
      <!-- <div class="logo mb-2 mt-1">
                <img width="250px" src="../../assets/img/favicons/android-chrome-512x512.png" class="img-fluid" >
            </div> -->
      <h2 class="text-center"  style="display: inline-flexbox;">Login</h2>
      
      <div class="form-floating mb-3">
        <input type="email" class="form-control   " id="floatingInput" placeholder="name@example.com" formControlName="email">
        <label class="form-label" for="floatingInput">Email address</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control  " id="floatingInput" placeholder="name@example.com" formControlName="password">
        <label class="form-label"  for="floatingInput">Password</label>
        <div class="form-text text-dark mt-2"> <a routerLink="/employe-layout/change-password">Forget Password</a></div>

      </div>

  

      <button class="btn    btn-primary btn2 w-100 fs-6  " type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</section>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>