
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Employe Leave </h1>
    <ol class="breadcrumb justify-content-center mb-2 p-1">
        <li class="breadcrumb-item"><a href="/admin-layout/dashboard" class="text-white">Dashboard</a></li>
        <li class="breadcrumb-item active text-white">Employe Leave</li>
    </ol>
</div>
<section  class="back">
    <main class="table">
        <div class="search-bar">
            <div class="modal-dialog ">
                <div class="modal-content rounded-4">
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group  mx-auto d-flex" >
                            <input type="search" class="py-2 border-2  form-control p-3" placeholder="Enter  Employe Name">
                            <!-- <input type="search" class="form-control p-3"  aria-describedby="search-icon-1"> -->
                            <span id="search-icon-1" class="input-group-text p-3"><i class="bi bi-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="table_header">
            <h3> Employe Leaves Detail</h3>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th scope="col">#Id</th>
                        <th scope="col">Employe Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Desination</th>
                        <th scope="col">Purpose of leave </th>
                        <th scope="col">From Date </th>
                        <th scope="col">To Date </th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>


                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Anil</td>
                        <td>Coding</td>
                        <td>Project Manager</td>
                    <td> <strong>$500</strong> </td>  
                    <td>12-5-24</td>
                    <td> <strong>24-5-24</strong> </td>  

                    <td> <p class="status success">Pending</p></td>    
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-success p-1">Approped</button>
                            <button class="btn btn-primary p-1">rejected</button>

                        </div>
                    </td>

                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</section>


