<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Dashboard</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li style="color: yellow;">Dashboard</li>
    </ol>
</div>
<!-- Single Page Header End -->


<section class="back2">
    <div class="container-fluid   " >
        <div class="row p-3  " >
            <div class="col-md-3 box-area p-1 border-2 ">
                <div class="card text-center ">
                    <div class="card-header  text-white" style="background-color: #3b31c7;">
                        <div class="row align-item-center;" >
                            <div class="col">
                            <i class="fa fa-list fa-4x"></i>
                            </div>
                            <div class="col">
                                <h3 class="text-white display-3">08</h3>
                                <h6 class="text-white content-text">Total Present Employee</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                         <h5>
                            <a routerLink="/admin-layout/manage-employe" class="text-primary">View Detail  <i class="bi bi-arrow-right-circle-fill"></i></a>
                         </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 box-area p-1">
                <div class="card text-center">
                    <div class="card-header  text-white" style="background-color: #217b03;" >
                        <div class="row align-item-center">
                            <div class="col">
                            <i class="fa fa-calendar-check fa-4x"></i>
                            </div>
                            <div class="col">
                                <h3 class="text-white display-3">08</h3>
                                <h6 class="text-white content-text">Total Attendence</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                         <h5>
                            <a routerLink="/admin-layout/manage-attendance" class="text-primary">View Detail  <i class="bi bi-arrow-right-circle-fill"></i></a>
                         </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3  box-area p-1">
                <div class="card text-center">
                    <div class="card-header  text-white" style="background-color: rgb(226, 144, 43);">
                        <div class="row align-item-center">
                            <div class="col">
                                <i class="fa-solid fa-calendar-xmark fa-4x"></i>
                            </div>
                            <div class="col">
                                <h3 class="text-white display-3">08</h3>
                                <h6 class="text-white content-text">Total Leaves</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                         <h5>
                            <a routerLink="/admin-layout/manage-leaves" class="text-primary">View Detail  <i class="bi bi-arrow-right-circle-fill"></i></a>
                         </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3  box-area p-1">
                <div class="card text-center">
                    <div class="card-header  text-white" style="background-color: rgb(226, 73, 43);">
                        <div class="row align-item-center">
                            <div class="col">
                        <i class='fas fa-money-check-alt fa-4x'></i>
                            </div>
                            <div class="col">
                                <h3 class="text-white display-3">08</h3>
                                <h6 class="text-white content-text">Total Advanced Salary</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                         <h5>
                            <a routerLink="/admin-layout/manage-advance" class="text-danger">View  Detail  <i class="bi bi-arrow-right-circle-fill"></i></a>
                         </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <section class="back">
            <main class="table">
                <section class="table_header">
                    <h3>New Employe Detail</h3>
                </section>
                <section class="table_body">

                    <table>
                        <thead>
                            <tr>
                                <th scope="col">#Id</th>
                                <th scope="col">Employe Name</th>
                                <th scope="col">Department</th>
                                <th scope="col">Desination</th>
                                <th scope="col">Email</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                                <th scope="col">City</th>
                                <th scope="col">State</th>
                                <th scope="col">Experinence</th>
                                <th scope="col">Join Date</th>
                                <th scope="col">Hired Address</th>
                                <th scope="col">Age</th>
                                <th scope="col">Account Holder</th>
                                <th scope="col">Bank</th>
                                <th scope="col">Bank Branch</th>
                                <th scope="col">IFSC</th>
                                <th scope="col">Account Number</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Anil</td>
                                <td>Coding</td>
                                <td>Project Manager</td>
                                <td> anil@gmail.com </td>
                                <td> <strong>Male</strong> </td>
                                <td> <strong>911565328</strong> </td>
                                <td> <strong>WM/3B1</strong> </td>
                                <td> <strong>Jalandhar</strong> </td>
                                <td> <strong>Punjab</strong> </td>
                                <td> <strong>4 year</strong> </td>
                                <td> <strong>04/02/22</strong> </td>

                                <td> O7 services It comapany </td>
                                <td>22</td>
                                <td>Anil</td>
                                <td> <strong>HDFC</strong> </td>
                                <td> <strong>Basti Guzan</strong> </td>
                                <td> <strong>HDFC100</strong> </td>
                                <td> <strong>0212194689</strong> </td>
                                <td> <strong>Presence</strong> </td>
                                <td>
                                    <div class="btn-group">
                                        <button routerLink="/admin-layout/manage-attendance"
                                            class="btn btn-primary btn-sm  p-2">
                                            View Attendence
                                        </button>
                                        <button routerLink="/admin-layout/manage-view-profile"
                                            class="btn btn-success btn-sm  text-white p-2">
                                            View Profile
                                        </button>
                                    </div>

                                </td>
                            </tr>
                        </tbody>

                    </table>
                </section>
            </main>
        </section>

    </div>
</section>