<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6"> Manage Employe </h1>
    <ol class="breadcrumb justify-content-center mb-2">
        <li class="breadcrumb-item"><a href="/admin-layout/dashboard" class="text-white">Dashboard</a></li>
        <li class="breadcrumb-item active text-white"> Manage Employe  </li>
    </ol>
</div>

<section class="back">
    <main class="table">
    
        <div class="search-bar">
            <div class="modal-dialog ">
                <div class="modal-content rounded-4">
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group  mx-auto d-flex" >
                            <input type="search" class="py-2 border-2  form-control p-3" placeholder="Enter  Employe Name" [(ngModel)]="searchText">
                            <!-- <input type="search" class="form-control p-3"  aria-describedby="search-icon-1"> -->
                            <span id="search-icon-1" class="input-group-text p-3"><i class="bi bi-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="table_header  ">
            <div class="container-fluid body-part d-flex  flex-column; justify-content:center ">
                
                <div class="row col-lg-12 p-1 " >
                    
                    <div class="col-md-6 text-left ">
                        <h3 >Employe Details</h3>
                    </div>
                  
                    <div class="col-md-6 text-right  border-2 ">
                        <button type="submit" routerLink="/admin-layout/add-employee" class="btn btn-primary p-2">Add Employe</button>
                    </div>

                </div>
            </div>
        </section>




        <section class="table_body">

            <table>
                <thead>
                    <tr>
                        <th scope="col">#Id</th>
                        <th scope="col">Employe Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Desination</th>
                        <th scope="col">Email</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Experinence</th>
                        <th scope="col">Join Date</th>
                        <th scope="col">Hired Address</th>
                        <th scope="col">Age</th>
                        <th scope="col">Account Holder</th>
                        <th scope="col">Bank</th>
                        <th scope="col">Bank Branch</th>
                        <th scope="col">IFSC</th>
                        <th scope="col">Account Number</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                        <th scope="col">Calculate</th>

                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let x of employees |filter:searchText"> 
                        <th scope="row">{{x?.autoId}}</th>
                        <td>{{x.name}}</td>
                        <td>{{x.department}}</td>
                        <td>{{x.designation}}</td>
                        <td>{{x.email}} </td>
                        <td> <strong>{{x.gender}}</strong> </td>
                        <td> <strong>{{x.phone}}</strong> </td>
                        <td> <strong>{{x.address}}</strong> </td>
                        <td> <strong>{{x.city}}</strong> </td>
                        <td> <strong>{{x.state}}</strong> </td>
                        <td> <strong>{{x.experience}}</strong> </td>
                        <td> <strong>{{x.createdAt | date}}</strong> </td>

                        <td> {{x.hiredAddress}}</td>
                        <td>{{x.age}}</td>
                        <td>{{x.accountHolder}}</td>
                        <td style="width: 500px;"> <strong>{{x.bankName}}</strong> </td>
                        <td> <strong>{{x.bankBranch}}</strong> </td>
                        <td> <strong>{{x.ifscCode}}</strong> </td>
                        <td> <strong>{{x.accountNumber}}</strong> </td>
                        <td> <strong>{{x.status}}</strong> </td>
                        <td>
                            <div class="btn-group">
                               
                                <button  class="btn btn-sm p-1" [ngClass]="x?.userId?.status == true ? 'btn-outline-success' : 'btn-success' " (click)="change_status(x?.userId, 'true')" type="submit" [disabled]="x?.userId?.status == true" >
                                    <i class="bi bi-check">Unblock</i>
                                </button>
                                <button  class="btn btn-sm p-1" [ngClass]="x?.userId?.status == false ? 'btn-outline-danger' : 'btn-danger' " (click)="change_status(x?.userId, 'false')" type="submit" [disabled]="x?.userId?.status == false">
                                    <i class="bi bi-x">Block</i>
                                </button>
                                
                            </div>
            
                        </td>
                        <td>
                            <button  [routerLink]="['/admin-layout/calculate-salary',x._id]" class="btn-sm btn-success btn p-1">Calculate</button>
                        </td>
                    </tr>
                    
                </tbody>
                
            </table>
        </section>
    </main>
</section>