<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Calculate Employee Salary</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/admin-layout/dashboard" class="text-white">Dashboard</a></li>
        <li class="breadcrumb-item  text-white">Calculate Employee Salary</li>
    </ol>
</div>
<section  class=" back d-flex; align-item-center; justify-content:center; mb-5 "
>

    <div class="container d-flex justify-content:center; align-item-center; min-h-100">
        <div class="row border shadow p-3 box-area rounded-5 " style="background-color: aliceblue;">

            <div class="col-lg-6  shadow1 border-5  left-box  rounded-4 d-flex justify-content:center flex-column " style="background: url(../../../../assets/img/login/521944_pictures-of-nature-scenery-wallpapers-mobile-kemecer-com_2560x1600_h.jpg);">
                <div class="side-img mb-3 shadow p-2 border-2">
                    <img width="600px" class="img-fluid " src="../../../../assets/img/login/1.png" alt="">
                </div>
                <p class="text-white text-center side-text fs-6" style="font-family: 'Courier New', Courier, monospace;">Be Verifed</p>
            </div>

            <div class="col-lg-6 shadow border  right-box">
                <div class="header mb-4">
                    <h2>Calculate  Salary</h2>
                    <p>we are happy to have you back</p>
                </div>
                <div class="row align-item-center">
                  <form action="">
                    <div class="row g-3">
                        <div class="col-md-6">
                          <input type="text" class="form-control bg-light  py-2 border " placeholder="Basic Salary" aria-label="Basic Salary">
                        </div>
                        <div class="col-md-6">
                          <input type="text" class="form-control bg-light  py-2 border " placeholder="Dearness Allowance" aria-label="DA">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control bg-light  py-2 border " placeholder=" “House Rent Allowance.” " aria-label="Basic Salary">
                          </div>
                          <div class="col-md-6">
                            <input type="text" class="form-control  bg-light py-2 border " placeholder="Provident Fund" aria-label="DA">
                          </div>
                          <div class="col-md-6">
                            <input type="text" class="form-control  bg-light py-2 border " placeholder=" Employees' Provident Fund " aria-label="Basic Salary">
                          </div>
                          <div class="col-md-6">
                            <input type="text" class="form-control bg-light py-2 border  " placeholder="LIC" aria-label="DA">
                          </div>
                          <div class="col-md-6">
                            <input type="text" class="form-control bg-light py-2 border  " placeholder=" Total Days" aria-label="DA">
                          </div>
                          <div class="col-md-6">
                            <input type="text" class="form-control bg-light py-2 border  " placeholder=" Total Absent" aria-label="DA">
                          </div>
                          <div class="col-md-12">
                            <input type="text" class="form-control bg-light  py-2 border mb-2  " disabled   placeholder=" Net Salary" aria-label="DA">
                          </div>
                          <div class="col">
                            <button type="submit" class="btn btn-primary w-100 fs-6  py-2 border mb-2 ">Calculate</button>
                          </div>
                      </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</section>